p{
    color: mediumvioletred;
    font-size: 1em;
}

.endereco{
    color:darkgreen;
    font-family: fantasy
}

.nav {
  background-color: skyblue; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}